@model List<Song>
@{
    ViewData["Title"] = "Popis pjesama";
}

<a asp-controller="Song" asp-action="Create">Unos nove pjesme</a>
<br/>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Godina</th>
            <th>Žanr</th>
            <th>Ocjena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var song in Model)
            {
        <tr>
            <td>@song.Name</td>
            <td>@song.Year</td>
            <td>@song.Genre.Name</td>
            <td>@song.Rating</td>
            <td>
                <a asp-controller="Song" asp-action="Edit" asp-route-id="@song.Id">Uredi</a>
                <a asp-controller="Song" asp-action="Delete" asp-route-id="@song.Id">Obriši</a>
            </td>
        </tr>
            }
    </tbody>
</table>